.command-form {
  h3 {
    margin-top: 0;
  }

  input,
  button {
    display: block;
    width: 100%;
    font-size: 1.2em;
    font-weight: 300;
    outline: 0;
    padding: .4em;
  }

  input {
    margin-bottom: 10px;
  }

  button {
    background: $green;
    border: 0;
    color: $white;
    cursor: pointer;

    &:hover {
      background: darken($green, 8%);
    }
  }

  p {
    font-size: 85%;
  }
}
