// colors
$gray: #444;
$light-gray: #CCC8C8;
$medium-gray: #666;
$black: #333;
$white: #fff;
$green: #0F8E51;
$blue: #01ADE4;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Lato, sans-serif;
  font-size: 17px;
  color: $black;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;

  h1 {
    position: fixed;
    top: 0;
    width: 100%;
    background: $blue;
    color: $white;
    font-weight: 300;
    margin-top: 0;
    padding: 10px 0;
    text-align: center;
    max-height: 60px;
    z-index: 2;
  }
}

.main {
  display: flex;
  padding: 0 1em;
  margin-top: 100px;
}

.sidebar {
  flex: 1 1 20%;
  padding: 0 3%;
}

.board {
  flex: 1 1 80%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.row {
  width: 100%;
  display: flex;
  border-right: 3px solid $black;
  border-left: 3px solid $black;

  &:nth-child(odd) .square:nth-child(even) {
    background: $medium-gray;
  }

  &:nth-child(even) .square:nth-child(odd) {
    background: $medium-gray;
  }

  &:first-child {
    border-top: 3px solid $black;
  }

  // hack - chrome doesn't support last-of-type for .class selectors
  &:nth-child(8) {
    border-bottom: 3px solid $black;
  }
}

.square {
  flex: 1 1 0;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid $black;
  min-height: 100px;
  position: relative;

  .square-meta {
    display: flex;
    justify-content: space-between;
  }

  .chess-id {
    font-size: 75%;
    background-color: $green;
    color: $white;
    padding: .2em;
  }

  .delete-label {
    padding-right: 5px;

    &::before {
      content: "x";
      color: $gray;
      font-size: 75%;
      height: 10px;
      width: 10px;
      cursor: pointer;
    }
  }

  .piece {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .owner,
  .type {
    max-width: 50%;
  }
}

.delete-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: $blue;

  & p {
    margin-bottom: 0;
  }
}

.command-form {
  h3 {
    margin-top: 0;
  }

  input,
  button {
    display: block;
    width: 100%;
    font-size: 1.2em;
    font-weight: 300;
    outline: 0;
    padding: .4em;
  }

  input {
    margin-bottom: 10px;
  }

  button {
    background: $green;
    border: 0;
    color: $white;
    cursor: pointer;

    &:hover {
      background: darken($green, 8%);
    }
  }

  p {
    font-size: 85%;
  }
}

.piece-lists {
  margin-top: 40px;
}

.piece-list {
  width: 100%;
  border: 1px solid $black;
  margin-bottom: 20px;
  border-collapse: collapse;

  th {
    width: 100%;
    text-align: left;
    padding: .5em;
    background: $medium-gray;
    color: $white;
    font-weight: 300;
  }

  tr {
    &:nth-child(even) {
      background: $light-gray;
    }
  }

  td {
    padding: .5em;
  }
}

.notices {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  .notice {
    display: block;
    background: $blue;
    color: $white;
    text-align: center;
    font-size: 2em;
    padding: 2em;

    & span {
      font-size: 85%;
      font-weight: 300;
    }
  }

  &.isHidden {
    display: none;
  }
}
